.dropdown-toggle-select::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  right: 12px;
  top: 45%;
}

.btn-outline-dropdown-toggle-select {
  background-color: transparent;
  background-image: none;
  border-color: #CED4DA;
}

.btn-outline-dropdown-toggle-select:hover {

}
