body
{
    background-color: #EEEEEE;
}

.document
{
    padding: 0;
    margin: 0;
    padding: 0in 0.25in;
    overflow: hidden;
    width: 7.25in;
    margin: 0 auto;
}

/*
Place a vertical line on the page, going to use this for the UI refactoring
document:before
{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid gray;
    top: 0;
    left: 100px;
}*/

textarea
{
    width: 100%;
    height: 100%;
    border-color: transparent;
    outline: none;
    resize: none;
    font-family: monospace;
}

.printSpace
{
    display: none;
}


@media print
{
    .printSpace
    {
        display: block;
        overflow: visible;
        font-family: monospace;
        white-space: pre;
        white-space: pre-wrap;
    }

    textarea
    {
        display: none;
    }
}

@page
{
    size: auto;   /* auto is the current printer page size */
    margin: 0mm;  /* this affects the margin in the printer settings */
}
