body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, html, #root {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .responsive-container {
    height: calc(100% - 254px)
  }
}

@media screen and (min-width: 768px) {
  .responsive-container {
    height: calc(100% - 130px)
  }
}
